<div class="wrapper">
    <div class="header-registro">
        <app-navbar></app-navbar>
    </div>
    <div class="body-registro">
        <div class="row mt-3 mb-3">
            <div class="title-registrar fluid-container text-center">Ingrese los datos de la materia a registrar</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-5 fluid-container">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>NRC</mat-label>
                    <!--Only numeric characters-->
                    <input matInput name="nrc" placeholder="Escribe NRC" type="number">
                </mat-form-field>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre de la materia</mat-label>
                    <input matInput name="nombre_materia" placeholder="Escribe nombre de la materia">
                </mat-form-field>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Sección</mat-label>
                    <!--Solo caracteres alfanumericos-->
                    <input matInput name="seccion" placeholder="Escribe sección" type="number">
                </mat-form-field>

                <div class="select-dias">
                    <div class="row mt-3 mb-3">
                        <div class="form-group col-12">
                            <label class="title-user" for="tipo_usuario">Selecciona los días que se impartirá</label>
                        </div>
                    </div>
                    <div class="checkbox-group" *ngFor="let dia of dias; let i = index" >
                        <mat-checkbox class="checkbox-item">
                            <div class="d-checkbox-name">{{dia.nombre}}</div>
                        </mat-checkbox>
                        <!-- ToDo: Revisar selección -->
                    </div>
                </div>

                <!--Date time picker-->
                <div class="row mt-3">
                    <div class="col-6">
                        <mat-form-field class="mat-input" appearance="outline">
                            <mat-label>Horario de inicio</mat-label>
                            <input matInput [ngxTimepicker]="picker1">
                            <ngx-material-timepicker #picker1></ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="mat-input" appearance="outline">
                            <mat-label>Horario de fin</mat-label>
                            <input matInput [ngxTimepicker]="picker2">
                            <ngx-material-timepicker #picker2></ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Salón</mat-label>
                    <input matInput name="salon" placeholder="Escribe salón">
                </mat-form-field>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Programa educativo</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let programa of programasEducativos; let i = index" [value]="programa.nombre">
                            {{programa.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="section-buttons">
                    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                    <button class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
                    <!-- <button class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button> -->
                </div>

            </div>
        </div>
    </div>
</div>